<mat-toolbar>
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  <span>Home</span>
</mat-toolbar>

<mat-accordion>
  <mat-divider></mat-divider>
  <button
    mat-button
    [routerLink]="['/energy_consumptions']"
    routerLinkActive="active-link"
  >
    <i class="material-icons">fireplace</i>
    Thông tin tiêu thụ năng lượng
  </button>
  <mat-divider></mat-divider>
  <button
    mat-button
    [routerLink]="['/enterprise/show']"
    routerLinkActive="active-link"
  >
    <i class="material-icons" >domain</i>
    Thông tin công ty
  </button>
  <mat-divider></mat-divider>
  <button mat-raised-button color="primary" (click)="logout()">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >logout</mat-icon
    >
    Logout
  </button>
</mat-accordion>
