.btn-menu {
  width: 100%;
  height: 40px;
  text-align: left;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.active-link {
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.059);
}
.home {
  cursor: pointer;
  border-bottom: 1px solid #ebebe0;
}

.btn-admin {
  width: 110%;
  text-align: left;
  margin: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.item-toolbar-menu {
  margin-left: 10px;
  font-size: 26px;
}
