.btn-menu {
    width: 100%;
    height: 45px;
    text-align: left;
}

.active-link {
    background-color: #e8eaed;
    font-size: 15px;
}
.home {
    cursor: pointer;
}
.btn-admin {
    width: 100%;
    text-align: left;
}