<mat-card style="text-align: center;">
  <mat-card-title>Tạo mới thông tin tiêu thụ năng lượng</mat-card-title>

  <form *ngIf="updateForm != null" [formGroup]="updateForm">
    <mat-card style="text-align: center;">
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <b class="title">Năm điều tra: </b>
              <mat-form-field class="input-value">
                <mat-label>Chọn giá trị</mat-label>
                <mat-select formControlName="year_of_investigation">
                  <mat-option *ngFor="let year of yearList" [value]="year">
                    {{ year }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.year_of_investigation"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">Năng lượng tiêu thụ: </b>
              <mat-form-field class="input-value">
                <mat-label>(kWh)*</mat-label>
                <input
                  matInput
                  placeholder="1025"
                  formControlName="self_produced_electricity"
                />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.self_produced_electricity"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">Năng lượng phát thải: </b>
              <mat-form-field class="input-value">
                <mat-label>(kWh)*</mat-label>
                <input
                  matInput
                  placeholder="1025"
                  formControlName="consumption_electricity"
                />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.consumption_electricity"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">Than đá: </b>
              <mat-form-field class="input-value">
                <mat-label>(tấn)*</mat-label>
                <input matInput placeholder="1025" formControlName="coal" />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.coal"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">Than bitium: </b>
              <mat-form-field class="input-value">
                <mat-label>(tấn)*</mat-label>
                <input
                  matInput
                  placeholder="1025"
                  formControlName="bitum_coal"
                />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.bitum_coal"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">Than cốc: </b>
              <mat-form-field class="input-value">
                <mat-label>(tấn)*</mat-label>
                <input
                  matInput
                  placeholder="1025"
                  formControlName="coke_coal"
                />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.coke_coal"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">Than cám: </b>
              <mat-form-field class="input-value">
                <mat-label>(tấn)*</mat-label>
                <input
                  matInput
                  placeholder="1025"
                  formControlName="dust_coal"
                />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.dust_coal"
                label=""
              ></app-error-label>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <b class="title">KO: </b>
              <mat-form-field class="input-value">
                <mat-label>(1000l)*</mat-label>
                <input matInput placeholder="1025" formControlName="ko" />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.ko"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">DDO: </b>
              <mat-form-field class="input-value">
                <mat-label>(1000l)*</mat-label>
                <input matInput placeholder="1025" formControlName="do" />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.do"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">FO: </b>
              <mat-form-field class="input-value">
                <mat-label>(1000l)*</mat-label>
                <input matInput placeholder="1025" formControlName="fo" />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.fo"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">LPG: </b>
              <mat-form-field class="input-value">
                <mat-label>(tấn)*</mat-label>
                <input matInput placeholder="1025" formControlName="lpg" />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.lpg"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">NG: </b>
              <mat-form-field class="input-value">
                <mat-label>(triệu m3)*</mat-label>
                <input matInput placeholder="1025" formControlName="ng" />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.ng"
                label=""
              ></app-error-label>
            </mat-list-item>

            <mat-list-item role="listitem">
              <b class="title">Năng lượng sinh khối: </b>
              <mat-form-field class="input-value">
                <mat-label>(TWE)*</mat-label>
                <input
                  matInput
                  placeholder="1025"
                  formControlName="biomass_energy"
                />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.biomass_energy"
                label=""
              ></app-error-label>
            </mat-list-item>
            <mat-list-item role="listitem">
              <b class="title">Năng lượng tái tạo: </b>
              <mat-form-field class="input-value">
                <mat-label>(TWE)*</mat-label>
                <input
                  matInput
                  placeholder="1025"
                  formControlName="renewable_energy"
                />
              </mat-form-field>
              <app-error-label
                [control]="updateForm.controls.renewable_energy"
                label=""
              ></app-error-label>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    <button mat-raised-button (click)="onReturn()">Trở về</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onCreate()"
      [disabled]="!updateForm.valid"
    >
      Tạo mới
    </button>
  </form>
</mat-card>
