<mat-progress-bar
  mode="indeterminate"
  *ngIf="spinnerService.visibility | async"
  style="position: fixed;z-index: 1000;"
></mat-progress-bar>

<mat-card style="text-align: center;">
  <mat-card-title style="text-transform: uppercase;"
    >tiêu thụ năng lượng</mat-card-title
  >

  <div style="text-align: left;">
    <h2 style="color: #3f51b5;">Lọc/Tìm kiếm</h2>
    <mat-card-content>
      <form
        *ngIf="fgpFilter != null"
        [formGroup]="fgpFilter"
        (ngSubmit)="onSubmitFilter()"
      >
        <mat-form-field class="ip-filter-item">
          <mat-label>Năm điều tra*</mat-label>
          <input matInput formControlName="year" placeholder="2014" />
          <app-error-label
            [control]="fgpFilter.controls.year"
            label=""
          ></app-error-label>
        </mat-form-field>

        <button
          mat-button
          color="primary"
          type="submit"
          [disabled]="!fgpFilter.valid"
        >
          <i class="material-icons">search</i>
        </button>
      </form>
    </mat-card-content>
  </div>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="nam" sticky>
        <th mat-header-cell *matHeaderCellDef>Năm điều tra</th>
        <td mat-cell *matCellDef="let element" class="special-with">
          {{ element.nam }}
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="ma_so_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Mã doanh nghiệp</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_so_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef>Tên DN</th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.ten_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_cap">
        <th mat-header-cell *matHeaderCellDef class="title">Mã cấp 2</th>
        <td mat-cell *matCellDef="let element" style="width: 180px;">
          {{ element.ma_cap }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_nganh">
        <th mat-header-cell *matHeaderCellDef>Tên nghành</th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.ten_nganh }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dien">
        <th mat-header-cell *matHeaderCellDef class="title">Điện (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dien }}
        </td>
      </ng-container>

      <ng-container matColumnDef="antracite_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than Antracite (NLTT)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.antracite_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bitum_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than bitum (NLTT)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.bitum_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="coc_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">Than cốc (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.coc_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ko_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">KO (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ko_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="do_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">DO (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.do_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fo_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">FO (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fo_nltt }}
        </td>
      </ng-container>
      class="title"
      <ng-container matColumnDef="lpg_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">LPG (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lpg_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ng_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">NG (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ng_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="npk_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">NPK,NH3 (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.npk_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hs_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">HS (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.hs_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="than_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">Than (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.than_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ng_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">NG (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ng_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dien_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">Điện (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dien_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="antracite_tj">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than antracite (TJ)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.antracite_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bitum_tj">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than Bituminous (TJ)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.bitum_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="coc_tj">
        <th mat-header-cell *matHeaderCellDef class="title">Than cốc (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.than_coc_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ko_tj">
        <th mat-header-cell *matHeaderCellDef class="title">KO (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ko_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="do_tj">
        <th mat-header-cell *matHeaderCellDef class="title">DO (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.do_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fo_tj">
        <th mat-header-cell *matHeaderCellDef class="title">FO (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fo_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lpg_tj">
        <th mat-header-cell *matHeaderCellDef class="title">LPG (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lpg_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ng_tj">
        <th mat-header-cell *matHeaderCellDef class="title">NG (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ng_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="lenghtPaginate"
    [pageSize]="params.amount"
    [pageSizeOptions]="[50, 100, 200, 300]"
    (page)="hangePaginator($event)"
  >
  </mat-paginator>

  <button mat-raised-button color="primary" style="margin-top: 10px;">
    Tạo mới thông tin
  </button>
</mat-card>
