.example-container {
    height: auto;
    width: 100%;
    overflow: auto;
    margin-top: 20px;
  }
  
  table {
    width: 250%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
  
  .action {
    text-align: center;
  }
  