<mat-progress-bar
  mode="indeterminate"
  *ngIf="spinnerService.visibility | async"
  style="position: fixed; z-index: 1000;"
></mat-progress-bar>

<mat-card style="text-align: center;">
  <mat-card-title style="text-transform: uppercase;"
    >Sản phẩm sản xuất</mat-card-title
  >

  <div style="text-align: left;">
    <h2 style="color: #3f51b5;">Lọc/Tìm kiếm</h2>
    <mat-card-content>
      <form
        *ngIf="fgpFilter != null"
        [formGroup]="fgpFilter"
        (ngSubmit)="onSubmitFilter()"
      >
        <mat-form-field class="ip-filter-item">
          <mat-label>Năm điều tra*</mat-label>
          <input matInput formControlName="year" placeholder="2014" />
          <app-error-label
            [control]="fgpFilter.controls.year"
            label=""
          ></app-error-label>
        </mat-form-field>

        <button
          mat-button
          color="primary"
          type="submit"
          [disabled]="!fgpFilter.valid"
        >
          <i class="material-icons">search</i>
        </button>
      </form>
    </mat-card-content>
  </div>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nam" sticky>
        <th mat-header-cell *matHeaderCellDef>Năm điều tra</th>
        <td mat-cell *matCellDef="let element" class="special-with">
          {{ element.nam }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_so_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Mã doanh nghiệp</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_so_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef>Tên DN</th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.ten_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stt" style="width: 100px;">
        <th mat-header-cell *matHeaderCellDef class="title">stt</th>
        <td mat-cell *matCellDef="let element">
          {{ element.stt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_san_pham">
        <th mat-header-cell *matHeaderCellDef class="title">Mã sản phẩm</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_san_pham }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_san_pham">
        <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.ten_san_pham }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_cap_2">
        <th mat-header-cell *matHeaderCellDef class="title">Mã cấp 2</th>
        <td mat-cell *matCellDef="let element" style="width: 180px;">
          {{ element.ma_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_nganh_cap_2">
        <th mat-header-cell *matHeaderCellDef>
          Tên nghành cấp 2
        </th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.ten_nganh_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="don_vi">
        <th mat-header-cell *matHeaderCellDef class="title">Đơn vị</th>
        <td mat-cell *matCellDef="let element" style="width: 180px;">
          {{ element.don_vi }}
        </td>
      </ng-container>

      <ng-container matColumnDef="so_luong">
        <th mat-header-cell *matHeaderCellDef class="title">Số lượng</th>
        <td mat-cell *matCellDef="let element">
          {{ element.so_luong }}
        </td>
      </ng-container>

      <ng-container matColumnDef="gtsx">
        <th mat-header-cell *matHeaderCellDef class="title">
          Giá trị sản xuất
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.gtsx }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="lenghtPaginate"
    [pageSize]="params.amount"
    [pageSizeOptions]="[50, 100, 200, 300]"
    (page)="hangePaginator($event)"
  >
  </mat-paginator>
</mat-card>
