<mat-card style="text-align: center;">
  <mat-card-title>Sản phẩm sản xuất</mat-card-title>
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="nam" sticky>
        <th mat-header-cell *matHeaderCellDef id="year">Năm điều tra</th>
        <td mat-cell *matCellDef="let element" id="year-content">
          {{ element.nam }}
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="ma_so_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Mã doanh nghiệp</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_so_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Tên DN</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ten_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stt" style="width: 100px;">
        <th mat-header-cell *matHeaderCellDef class="title">stt</th>
        <td mat-cell *matCellDef="let element">
          {{ element.stt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_san_pham">
        <th mat-header-cell *matHeaderCellDef class="title">Tên sản phẩm</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ten_san_pham }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_cap_2">
        <th mat-header-cell *matHeaderCellDef>Mã nghành cấp 2</th>
        <td mat-cell *matCellDef="let element" class="content" style="width: 180px;">
          {{ element.ma_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_nganh_cap_2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Tên nghành cấp 2
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.ten_nganh_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="don_vi">
        <th mat-header-cell *matHeaderCellDef>Đơn vị</th>
        <td mat-cell *matCellDef="let element" class="content"  style="width: 180px;">
          {{ element.don_vi }}
        </td>
      </ng-container>

      <ng-container matColumnDef="so_luong">
        <th mat-header-cell *matHeaderCellDef class="title">Số lượng</th>
        <td mat-cell *matCellDef="let element">
          {{ element.so_luong }}
        </td>
      </ng-container>

      <ng-container matColumnDef="do_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">DO (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.do_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fo_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">FO (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fo_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lpg_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">LPG (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lpg_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ng_nltt">
        <th mat-header-cell *matHeaderCellDef class="title">NG (NLTT)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ng_nltt }}
        </td>
      </ng-container>

      <ng-container matColumnDef="npk_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">NPK,NH3 (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.npk_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hs_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">HS (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.hs_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="than_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">Than (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.than_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ng_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">NG (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ng_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dien_pnl">
        <th mat-header-cell *matHeaderCellDef class="title">Điện (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dien_pnl }}
        </td>
      </ng-container>

      <ng-container matColumnDef="antracite_nltt_tj">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than antracite (TJ)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.antracite_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bitum_nltt_tj">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than Bituminous (TJ)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.bitum_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="than_coc_nltt_tj">
        <th mat-header-cell *matHeaderCellDef class="title">Than cốc (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.than_coc_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ko_nltt_tj">
        <th mat-header-cell *matHeaderCellDef class="title">KO (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ko_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="do_nltt_tj">
        <th mat-header-cell *matHeaderCellDef class="title">DO (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.do_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fo_nltt_tj">
        <th mat-header-cell *matHeaderCellDef class="title">FO (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fo_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lpg_nltt_tj">
        <th mat-header-cell *matHeaderCellDef class="title">LPG (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lpg_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ng_nltt_tj">
        <th mat-header-cell *matHeaderCellDef class="title">NG (TJ)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ng_nltt_tj }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[100, 200, 300]"
    showFirstLastButtons
  ></mat-paginator>
  <button mat-raised-button color="primary" style="margin-top: 10px;">
    Tạo mới thông tin
  </button>
  <p></p>
</mat-card>
