<mat-progress-bar
  mode="indeterminate"
  *ngIf="spinnerService.visibility | async"
  style="position: fixed; z-index: 1000;"
></mat-progress-bar>

<mat-card style="text-align: center;">
  <mat-card-title style="text-transform: uppercase;"
    >Tổng phát thải</mat-card-title
  >

  <div style="text-align: left;">
    <h2 style="color: #3f51b5;">Lọc/Tìm kiếm</h2>
    <mat-card-content>
      <form
        *ngIf="fgpFilter != null"
        [formGroup]="fgpFilter"
        (ngSubmit)="onSubmitFilter()"
      >
        <mat-form-field class="ip-filter-item">
          <mat-label>Năm điều tra*</mat-label>
          <mat-select formControlName="year">
            <mat-option *ngFor="let item of listYear" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="ip-filter-item">
          <mat-label>Tên nghành*</mat-label>
          <mat-select formControlName="sector">
            <mat-option *ngFor="let item of listSector" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button
          mat-button
          color="primary"
          type="submit"
          [disabled]="!fgpFilter.valid"
        >
          <i class="material-icons">search</i>
        </button>
      </form>
    </mat-card-content>
  </div>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nam" sticky>
        <th mat-header-cell *matHeaderCellDef>Năm điều tra</th>
        <td mat-cell *matCellDef="let element" class="special-with">
          {{ element.nam }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_so_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Mã doanh nghiệp</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_so_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Tên DN</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ten_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_cap_2">
        <th mat-header-cell *matHeaderCellDef class="title">Mã ngành cấp 2</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_nganh_cap_2">
        <th mat-header-cell *matHeaderCellDef>Tên nghành cấp 2</th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.ten_nganh_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dien">
        <th mat-header-cell *matHeaderCellDef class="title">Điện</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dien | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtnl_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Nhiên liệu QTNL CO2
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtnl_co2 | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtnl_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Nhiên liệu QTNL CH4
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtnl_ch4 | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtnl_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">
          Nhiên liệu QTNL N20
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtnl_n2o | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pnl_co2">
        <th mat-header-cell *matHeaderCellDef class="title">C02 (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pnl_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pnl_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">CH4 (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pnl_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pnl_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">N20 (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pnl_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phat_tan_co2">
        <th mat-header-cell *matHeaderCellDef class="title">Phát tán C02</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phat_tan_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phat_tan_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">Phát tán CH4</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phat_tan_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phat_tan_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">Phát tán N20</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phat_tan_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtcn_co2">
        <th mat-header-cell *matHeaderCellDef class="title">C02 (QTCN)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtcn_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtcn_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">CH4 (QTCN)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtcn_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_tru_dien_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Tổng trữ điện C02
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_tru_dien_co2 | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_tru_dien_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Tổng trữ điện CH4
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_tru_dien_ch4 | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_tru_dien_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">
          Tổng trữ điện N20
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_tru_dien_n2o | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_co2">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng C02</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_co2 | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng CH4</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_ch4 | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng N20</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_n2o | toFixed2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_quy_doi">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng quy đổi</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_quy_doi | toFixed2 }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="lenghtPaginate"
    [pageSize]="params.amount"
    [pageSizeOptions]="[50, 100, 200, 300]"
    (page)="hangePaginator($event)"
  >
  </mat-paginator>
</mat-card>
