<mat-card style="text-align: center;">
  <mat-card-title>Tổng phát thải</mat-card-title>

  <mat-card style="text-align: left;">
    <h2>Lọc/Tìm kiếm</h2>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Năm điều tra*</mat-label>
        <input
          matInput
          (keyup)="handleFilter($event)"
          [formControl]="filterFollowYear"
          placeholder="2014"
        />
      </mat-form-field>
      <button
        style="margin-left: 20px; width: 100px;"
        mat-raised-button
        color="primary"
        (click)="applyFilter()"
      >
        Tìm kiếm
      </button>
    </mat-card-content>
  </mat-card>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="nam" sticky>
        <th mat-header-cell *matHeaderCellDef id="year">Năm điều tra</th>
        <td mat-cell *matCellDef="let element" id="year-content">
          {{ element.nam }}
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="ma_so_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Mã doanh nghiệp</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_so_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Tên DN</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ten_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_cap_2">
        <th mat-header-cell *matHeaderCellDef class="title">Mã ngành cấp 2</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_nganh_cap_2">
        <th mat-header-cell *matHeaderCellDef>Tên nghành cấp 2</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="content"
          style="width: 180px;"
        >
          {{ element.ten_nganh_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dien">
        <th mat-header-cell *matHeaderCellDef class="title">Điện</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dien }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtnl_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Nhiên liệu QTNL CO2
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtnl_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtnl_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Nhiên liệu QTNL CH4
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtnl_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtnl_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">
          Nhiên liệu QTNL N20
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtnl_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pnl_co2">
        <th mat-header-cell *matHeaderCellDef class="title">C02 (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pnl_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pnl_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">CH4 (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pnl_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pnl_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">N20 (PNL)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pnl_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phat_tan_co2">
        <th mat-header-cell *matHeaderCellDef class="title">Phát tán C02</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phat_tan_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phat_tan_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">Phát tán CH4</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phat_tan_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phat_tan_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">Phát tán N20</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phat_tan_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtcn_co2">
        <th mat-header-cell *matHeaderCellDef class="title">C02 (QTCN)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtcn_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="qtcn_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">CH4 (QTCN)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.qtcn_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_tru_dien_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Tổng trữ điện C02
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_tru_dien_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_tru_dien_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Tổng trữ điện CH4
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_tru_dien_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_tru_dien_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">
          Tổng trữ điện N20
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_tru_dien_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_co2">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng C02</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng CH4</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng N20</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_quy_doi">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng quy đổi</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_quy_doi }}
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="update" stickyEnd>
            <th mat-header-cell *matHeaderCellDef class="action">Cập nhập</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button color="primary">
                Cập nhập
              </button>
            </td>
          </ng-container>
    
          <ng-container matColumnDef="delete" stickyEnd>
            <th mat-header-cell *matHeaderCellDef class="action">Xóa</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-button color="warn">
                Xóa
              </button>
            </td>
          </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[100, 200, 300]"
    showFirstLastButtons
  ></mat-paginator>
  <button mat-raised-button color="primary" style="margin-top: 10px;">
    Tạo mới thông tin
  </button>
  <p></p>
</mat-card>
