<mat-card style="text-align: center;">
  <mat-card-title>Thông tin sản lượng sản phẩm</mat-card-title>

  <mat-form-field class="example-form-field" *ngIf="product != null">
    <mat-label>Sản phẩm</mat-label>
    <input matInput type="text" [(ngModel)]="product.name" disabled/>
  </mat-form-field>

  <div class="container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="tb-productivies">
      <ng-container matColumnDef="year_of_investigation" sticky>
        <th mat-header-cell *matHeaderCellDef>Năm khảo sát</th>
        <td mat-cell *matCellDef="let element">
          {{ element.year_of_investigation }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Số lượng</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="update" sticky>
        <th mat-header-cell *matHeaderCellDef>Cập nhập</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="onUpdate(element.id)">
            Cập nhập
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete" sticky>
        <th mat-header-cell *matHeaderCellDef>Xóa</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-button color="warn" (click)="onDelete(element.id, i)">
            Xóa
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <button
    mat-raised-button
    color="primary"
    id="btn-create"
    (click)="onCreate()"
  >
    Tạo mới sản phẩm
  </button>
</mat-card>
