<mat-progress-bar
  mode="indeterminate"
  *ngIf="spinnerService.visibility | async"
  style="position: fixed;z-index: 1000;"
></mat-progress-bar>

<mat-card style="text-align: center;">
  <mat-card-title style="text-transform: uppercase;"
    >Phát thải khí nhà kính theo tiêu dùng năng lượng</mat-card-title
  >

  <div style="text-align: left;">
    <h2 style="color: #3f51b5;">Lọc/Tìm kiếm</h2>
    <mat-card-content>
      <form
        *ngIf="fgpFilter != null"
        [formGroup]="fgpFilter"
        (ngSubmit)="onSubmitFilter()"
      >
        <mat-form-field class="ip-filter-item">
          <mat-label>Năm điều tra*</mat-label>
          <input matInput formControlName="year" placeholder="2014" />
          <app-error-label
            [control]="fgpFilter.controls.year"
            label=""
          ></app-error-label>
        </mat-form-field>

        <button
          mat-button
          color="primary"
          type="submit"
          [disabled]="!fgpFilter.valid"
        >
          <i class="material-icons">search</i>
        </button>
      </form>
    </mat-card-content>
  </div>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nam" sticky>
        <th mat-header-cell *matHeaderCellDef>Năm điều tra</th>
        <td mat-cell *matCellDef="let element" class="special-with">
          {{ element.nam }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_so_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Mã doanh nghiệp</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_so_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef>Tên DN</th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.ten_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_cap_2">
        <th mat-header-cell *matHeaderCellDef class="title">Mã cấp 2</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_nganh_cap_2">
        <th mat-header-cell *matHeaderCellDef>
          tên nghành cấp 2
        </th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.ten_nganh_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="he_so_su_dung_nang_luong">
        <th mat-header-cell *matHeaderCellDef class="title">
          hệ số sử dụng năng lượng
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.he_so_su_dung_nang_luong }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dien">
        <th mat-header-cell *matHeaderCellDef class="title">Điện</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dien }}
        </td>
      </ng-container>

      <ng-container matColumnDef="antracite_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than Antracite (tC02)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.antracite_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="antracite_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than Antracite (tCH4)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.antracite_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="antracite_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than Antracite (tN20)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.antracite_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="coke_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than coke (tC02)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.coke_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="coke_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than coke (tCH4)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.coke_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="coke_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">Than coke (N20)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.coke_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bitum_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than Bituminous (tC02)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.bitum_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bitum_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than Bituminous (tCH4)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.bitum_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bitum_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">
          Than Bituminous (tN20)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.bitum_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="do_co2">
        <th mat-header-cell *matHeaderCellDef class="title">DO (tC02)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.do_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="do_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">DO (tCH4)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.do_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="do_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">DO (N20)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.do_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fo_co2">
        <th mat-header-cell *matHeaderCellDef class="title">FO (tC02)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fo_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fo_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">FO (tCH4)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fo_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fo_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">FO (tN20)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fo_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lpg_co2">
        <th mat-header-cell *matHeaderCellDef class="title">LPG (tC02)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lpg_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lpg_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">LPG (tCH4)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lpg_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lpg_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">LPG (tN20)</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lpg_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="khi_tu_nhien_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Khí tự nhiên (tC02)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.khi_tu_nhien_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="khi_tu_nhien_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Khí tự nhiên (tCH4)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.khi_tu_nhien_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="khi_tu_nhien_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">
          Khí tự nhiên (tN20)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.khi_tu_nhien_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nang_luong_sinh_khoi_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Năng lượng sinh khối (tC02)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nang_luong_sinh_khoi_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nang_luong_sinh_khoi_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Năng lượng sinh khối (tCH4)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nang_luong_sinh_khoi_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nang_luong_sinh_khoi_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">
          Năng lượng sinh khối (tN20)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.nang_luong_sinh_khoi_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Năng lượng sinh khối (tC02)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Năng lượng sinh khối (tCH4)
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong_n2o">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng N20</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong_n2o }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tong">
        <th mat-header-cell *matHeaderCellDef class="title">Tổng</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tong }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="lenghtPaginate"
    [pageSize]="params.amount"
    [pageSizeOptions]="[50, 100, 200, 300]"
    (page)="hangePaginator($event)"
  >
  </mat-paginator>
</mat-card>
