.example-container {
  height: auto;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
}

table {
  width: 500%;
}

td.mat-column-star {
  width: 20px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

.ip-filter-item {
  margin-right: 10px;
}

.text-content {
  text-align: left;
  width: max-content;
}

.special-with {
  width: 50px;
  text-align: left;
}

.title {
  text-align: center;
}
