<mat-progress-bar
  mode="indeterminate"
  *ngIf="spinnerService.visibility | async"
  style="position: fixed;z-index: 1000;"
></mat-progress-bar>

<mat-card style="text-align: center;">
  <mat-card-title style="text-transform: uppercase;"
    >Thông tin doanh nghiệp</mat-card-title
  >

  <div style="text-align: left;">
    <h2 style="color: #3f51b5;">Lọc/Tìm kiếm</h2>
    <mat-card-content>
      <form
        *ngIf="fgpFilter != null"
        [formGroup]="fgpFilter"
        (ngSubmit)="onSubmitFilter()"
      >
        <mat-form-field class="ip-filter-item">
          <mat-label>Năm điều tra*</mat-label>
          <input matInput formControlName="year" placeholder="2014" />
          <app-error-label
            [control]="fgpFilter.controls.year"
            label=""
          ></app-error-label>
        </mat-form-field>

        <mat-form-field class="ip-filter-item">
          <mat-label>Tỉnh/Thành phố*</mat-label>
          <input
            matInput
            formControlName="province"
            placeholder="Hồ Chí Minh"
          />
        </mat-form-field>

        <button
          mat-button
          color="primary"
          type="submit"
          [disabled]="!fgpFilter.valid"
        >
          <i class="material-icons">search</i>
        </button>
      </form>
    </mat-card-content>
  </div>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nam" sticky>
        <th mat-header-cell *matHeaderCellDef>Năm điều tra</th>
        <td mat-cell *matCellDef="let element" class="special-with">
          {{ element.nam }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_so_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Mã doanh nghiệp</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_so_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef>Tên doanh nghiệp</th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.ten_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tinh" style="width: 100px;">
        <th mat-header-cell *matHeaderCellDef>Tỉnh</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-content"
          style="width: 180px;"
        >
          {{ element.tinh }}
        </td>
      </ng-container>

      <ng-container matColumnDef="huyen">
        <th mat-header-cell *matHeaderCellDef>Huyện</th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.huyen }}
        </td>
      </ng-container>

      <ng-container matColumnDef="xa">
        <th mat-header-cell *matHeaderCellDef>Xã</th>
        <td mat-cell *matCellDef="let element" class="text-content">
          {{ element.xa }}
        </td>
      </ng-container>

      <ng-container matColumnDef="toa_do_X">
        <th mat-header-cell *matHeaderCellDef class="title">Tọa độ X</th>
        <td mat-cell *matCellDef="let element">
          {{ element.toa_do_x }}
        </td>
      </ng-container>

      <ng-container matColumnDef="toa_do_Y">
        <th mat-header-cell *matHeaderCellDef class="title">Tọa độ Y</th>
        <td mat-cell *matCellDef="let element">
          {{ element.toa_do_y }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nganh_cap_1">
        <th mat-header-cell *matHeaderCellDef>Nghành cấp 1</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-content"
          style="width: 190px;"
        >
          {{ element.nganh_cap_1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_Cap">
        <th mat-header-cell *matHeaderCellDef class="title">Mã cấp 2</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_Cap }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_nganh_cap_2">
        <th mat-header-cell *matHeaderCellDef>Tên nghành cấp 2</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-content"
          style="width: 180px;"
        >
          {{ element.ten_nganh_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="gtsx">
        <th mat-header-cell *matHeaderCellDef class="title">GTSX</th>
        <td mat-cell *matCellDef="let element">
          {{ element.gtsx }}
        </td>
      </ng-container>

      <ng-container matColumnDef="so_lao_dong">
        <th mat-header-cell *matHeaderCellDef class="title">
          Số lượng Lao động
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.so_lao_dong }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [length]="lenghtPaginate"
    [pageSize]="params.amount"
    [pageSizeOptions]="[50, 100, 200, 300]"
    (page)="hangePaginator($event)"
  >
  </mat-paginator>
</mat-card>
