.example-container {
  height: auto;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
}

table {
  width: 260%;
}

/* td.mat-column-star {
  width: 20px;
} */

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

.action {
  text-align: center;
}

.title {
  text-align: center;
}

#year {
  width: 50px;
}

.content {
  text-align: left;
}

#year-content {
  text-align: left;
}
#ma-cap-2 {
  width: 200px;
}