<mat-card style="text-align: center;">
  <mat-card-title>Phát thải khí nhà kính theo sản phẩm sản xuất</mat-card-title>

  <mat-card style="text-align: left;">
    <h2>Lọc/Tìm kiếm</h2>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Năm điều tra*</mat-label>
        <input
          matInput
          (keyup)="handleFilter($event)"
          [formControl]="filterFollowYear"
          placeholder="2014"
        />
      </mat-form-field>
      <button
        style="margin-left: 20px; width: 100px;"
        mat-raised-button
        color="primary"
        (click)="applyFilter()"
      >
        Tìm kiếm
      </button>
    </mat-card-content>
  </mat-card>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="nam" sticky>
        <th mat-header-cell *matHeaderCellDef id="year">Năm điều tra</th>
        <td mat-cell *matCellDef="let element" id="year-content">
          {{ element.nam }}
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="ma_so_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Mã doanh nghiệp</th>
        <td mat-cell *matCellDef="let element" style="width: 110px;">
          {{ element.ma_so_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_doanh_nghiep">
        <th mat-header-cell *matHeaderCellDef class="title">Tên DN</th>
        <td mat-cell *matCellDef="let element" style="width: 60px;">
          {{ element.ten_doanh_nghiep }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_nganh_2">
        <th mat-header-cell *matHeaderCellDef class="title">Mã nghành cấp 2</th>
        <td mat-cell *matCellDef="let element" style="width: 110px;">
          {{ element.ma_nganh_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="te_cap_2">
        <th mat-header-cell *matHeaderCellDef>Mã cấp 2</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="content"
          style="width: 120px;"
        >
          {{ element.te_cap_2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ma_sp">
        <th mat-header-cell *matHeaderCellDef class="title">Mã sản phẩm</th>
        <td mat-cell *matCellDef="let element">
          {{ element.ma_sp }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ten_sp">
        <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="content"
          style="width: 150px;"
        >
          {{ element.ten_sp }}
        </td>
      </ng-container>

      <ng-container matColumnDef="don_vi">
        <th mat-header-cell *matHeaderCellDef class="title">Đơn vị</th>
        <td mat-cell *matCellDef="let element">
          {{ element.don_vi }}
        </td>
      </ng-container>

      <ng-container matColumnDef="khoi_luong">
        <th mat-header-cell *matHeaderCellDef class="title">Khối lượng</th>
        <td mat-cell *matCellDef="let element">
          {{ element.khoi_luong }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hspt_co2">
        <th mat-header-cell *matHeaderCellDef class="title">
          Hệ số phát thải CO2
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.hspt_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hspt_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">
          Hệ số phát thải CH4
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.hspt_ch4 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phat_thai_co2">
        <th mat-header-cell *matHeaderCellDef class="title">Phát thải C02</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phat_thai_co2 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phat_thai_ch4">
        <th mat-header-cell *matHeaderCellDef class="title">Phát thải CH4</th>
        <td mat-cell *matCellDef="let element">
          {{ element.phat_thai_ch4 }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="update" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="action">Cập nhập</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary">
              Cập nhập
            </button>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="delete" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="action">Xóa</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-button color="warn">
              Xóa
            </button>
          </td>
        </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[100, 200, 300]"
    showFirstLastButtons
  ></mat-paginator>
  <button mat-raised-button color="primary" style="margin-top: 10px;">
    Tạo mới thông tin
  </button>
  <p></p>
</mat-card>
